frr version 8.4
frr defaults traditional
hostname {{ router_name }}
log syslog informational
service integrated-vtysh-config
!
interface net1
 ip address {{ ip_address }}
 ip ospf area 0.0.0.0
!
router ospf
 ospf router-id {{ router_id }}
!
line vty
!
